{{define "content"}}
<section class="category-list">
    <div class="container">
        <h2 class="block-title">Каталог товаров</h2>
        <div class="category-list__grid block-content">
            {{range .Categories}}
            <div class="category-list__item">
                <div class="category-list__thumb">
                    <img decoding="async" width="150" height="150" src="/static/ayma/main_files/frame-228-1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="{{.Name}}" loading="lazy">
                </div>
                <div class="category-list__content">
                    <a href="/catalog/{{.Slug}}" class="category-list__subtitle">
                        <h3>{{.Name}}</h3>
                    </a>
                    <p>{{.Description}}</p>
                </div>
            </div>
            {{end}}
        </div>
        <button type="button" class="category-list__load-more">Показать больше</button>
    </div>
</section>
{{end}}
